body{
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}
body h1{
    font-size: 7em;
    position: fixed;
    top:100px;
}
body h1 #mili-sec{
    font-size: 0.2em;
}